<div class="row">
    <div class="col-md-10">
        <div class="well">
            <div class="form-inline">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-checked="vm.row.status" ng-model="vm.row.status"> Task name:
                </label>
                <input class="form-control" ng-disabled="!vm.canEdit" type="text" ng-model="vm.row.name">
                <button type="button" class="btn btn-default" ng-click="vm.canEdit = !vm.canEdit">{{vm.canEdit ? "Save" : "Edit"}}</button>
            </div>
        </div>
    </div>
</div>