<div class="row">
    <div class="col-md-10">
        <div class="well">
            <div class="col-md-10">
                <div class="form-inline">
                    <input type="checkbox" ng-checked="vm.row.status" ng-model="vm.row.status">
                    <label>
                        Task name:
                        <input class="form-control" ng-disabled="!vm.canEdit" type="text" ng-model="vm.name">
                    </label>
                    <button type="button" class="btn btn-default" ng-click="vm.edit()">{{vm.canEdit ? "Save" : "Edit"}}</button>
                </div>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-danger pull-right" ng-click="vm.remove()">Remove</button>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>