<div class="row">
    <div class="col-md-10">
        <div class="form-group ">
            <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="vm.parent.loadLS()" ng-disabled="!vm.parent.lsExist">Load from LS</button>
                </div>

                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="vm.parent.saveLS()">Save to LS</button>
                </div>

                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="vm.parent.clearLS()" ng-disabled="!vm.parent.lsExist">Clear LS</button>
                </div>

                <div class="btn-group" role="group">
                    <button class="btn btn-default" ng-click="vm.parent.refresh()">Reload from server</button>
                </div>
            </div>
        </div>
    </div>
</div>