<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">New task:</span>
                        <input class="form-control"  type="text" ng-model="vm.taskLocal.name">
                    </div>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-success btn-block pull-right" ng-click="vm.addItem()">Add</button>
                </div>

            </div>
        </div>
    </div>
</div>