<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="col-md-10">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-checked="vm.taskLocal.status" ng-model="vm.taskLocal.status">
                        </span>

                        <input class="form-control" ng-readonly="!vm.canEdit" complete="vm.taskLocal.status"
                               type="text" ng-model="vm.taskLocal.name">

                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.edit()" ng-class="{active: vm.canEdit}">
                                <span class="glyphicon" aria-hidden="true"
                                  ng-class="{'glyphicon-pencil': !vm.canEdit, 'glyphicon-floppy-saved': vm.canEdit}">
                                </span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-block pull-right" ng-click="vm.removeItem()">Remove</button>
                </div>

            </div>
        </div>
    </div>
</div>