* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.complete {
    color: #999;
    text-decoration: line-through;
    text-decoration-color: #666;
}